<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<p th:text="|Hello, ${name}|">Hello, $name</p>
	
	<p th:text="${dto.subject}">dto.subject</p>
	
	<div th:object="${dto}">
		<p th:text="*{subject}">dto.subject</p>
		<p th:text="*{seq}">dto.seq</p>
	</div>
	
	<table border="1">
		<tr>
			<th>SUBJECT</th>
			<th>SEQ</th>
		</tr>
	
		<tr th:each="dto:${list}">
			<td th:text="*{dto.subject}">dto.subject</td>
			<td th:text="*{dto.seq}">dto.seq</td>
		</tr>
	</table>
	
	<table border="1">
		<tr>
			<th>SUBJECT(SEQ)</th>
		</tr>
		
		<tr th:each="dto:${list}">
			<td th:object="${dto}">
				<span th:text="*{subject}">subject</span>
				<span th:text="|(*{seq})|">(seq)</span>
				
				<p th:text="|*{subject} (*{seq})|"></p>
			</td>
		</tr>
	</table>
	
	<table border="1">
		<tr th:if="${iflist ne null}">
			<td>iflist는 null값이 아닙니다.</td>
		</tr>
		
		<tr th:unless="${iflist ne null}">
			<td>iflist는 null값이 아닙니다가 아닙니다.</td>
		</tr>
	</table>
	
	<div th:each="num:${#numbers.sequence(1, 3)}">
		<p th:text="${num}">num</p>
		<th:block th:switch="${num}">
			<span th:case="1" th:text="|this is ${num}|">text</span>
			<span th:case="2" th:text="|second ${num}|">text</span>
			<span th:case="3" th:text="|this is ${num}|">text</span>
		</th:block>
	</div>
	
	<a th:href="@{index.html}">index</a>
	<a th:href="@{util}">util</a>
	
	
</body>
</html>