<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>LIST</h1>
	
	<table border="1">
		<col width="50" />
		<col width="100" />
		<col width="150" />
		<col width="100" />
		
		<tr>
			<th>번호</th>
			<th>작성자</th>
			<th>제목</th>
			<th>작성일</th>
		</tr>
		
		<tr th:if="${list.size() == 0}">
			<td colspan="4" align="center">---------------작성된 글이 존재하지 않습니다.---------------</td>
		</tr>
		
		<tr th:unless="${list.size() == 0}" th:each="dto:${list}">
			<td th:text="${dto.myno}"></td>
			<td th:text="${dto.myname}"></td>
			<td><a th:href="|@{/member/detail}?myno=${dto.myno}|" th:text="${dto.mytitle}"></a></td>
			<td th:text="${dto.mydate}"></td>
		</tr>
		
		<tr>
			<td colspan="4" align="right">
				<input type="button" onclick="location.href='insertform'" th:value="insert" />
			</td>
		</tr>
	</table>
</body>
</html>